[submodule "thirdparty/libtess2"]
	path = thirdparty/libtess2
	url = https://github.com/sakamura/libtess2.git
[submodule "thirdparty/OpenVG"]
	path = thirdparty/OpenVG
	url = https://github.com/sakamura/OpenVG.git
[submodule "thirdparty/cpp-btree"]
	path = thirdparty/cpp-btree
	url = https://github.com/sakamura/cpp-btree
