[submodule "thirdparty/monkvg"]
	path = thirdparty/monkvg
	url = https://github.com/micahpearlman/MonkVG.git
[submodule "thirdparty/MonkVG"]
	path = thirdparty/MonkVG
	url = https://github.com/micahpearlman/MonkVG.git
